<h1>Dragon Ball Page</h1>
<hr />
<section class="row">
  <div class="col-12 col-sm-6">
    <h3 class="mb-4">Agregar</h3>
    <input type="text" class="form-control" placeholder="Nombre" />
    <input type="text" class="form-control mt-2" placeholder="Poder" />
    <button class="btn btn-primary mt-2">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ol>
      Goku
    </ol>
    <ol>
      Goku
    </ol>
    <ol>
      Goku
    </ol>
    <ol>
      Goku
    </ol>
  </div>
</section>
