<h2>Páginas</h2>

<hr />

<h3 class="mt-3">Reactive</h3>

<ul class="list-group">
  @for (item of reactiveMenu; track item.route) {
  <a [routerLink]="item.route" class="text-decoration-none">
    <li class="list-group-item" routerLinkActive="active">{{ item.title }}</li>
  </a>

  }
</ul>

<h3 class="mt-3">Auth</h3>

<ul class="list-group">
  @for (item of authMenu; track item.route) {
  <a [routerLink]="item.route" class="text-decoration-none">
    <li class="list-group-item" routerLinkActive="active">{{ item.title }}</li>
  </a>

  }
</ul>

<h3 class="mt-3">Country</h3>

<ul class="list-group">
  @for (item of countryMenu; track item.route) {
  <a [routerLink]="item.route" class="text-decoration-none">
    <li class="list-group-item" routerLinkActive="active">{{ item.title }}</li>
  </a>

  }
</ul>
