@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, forest;
}

@font-face {
  font-family: 'montserrat';
  src: url('/assets/fonts/montserrat-alternates/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.montserrat {
  font-family: 'montserrat', sans-serif;
}

.fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
     transform: translateY(50px);
  }

  100% {
    opacity: 1;
     transform: translateY(0);
  }
}
