<section class="mt-10">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Ícono</th>
        <th>Bnadera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @defer { @for (country of countries(); track country.cca2; let index =
      $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flagSvg" [alt]="country.name" class="w-10" />
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td class="badge badge-secondary">{{ country.population | number }}</td>
        <td><a href="" class="link-primary">Más información</a></td>
      </tr>
      }
    }
      <tr></tr>
    </tbody>
  </table>
</section>
