<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre y apellido</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre y apellido"
            formControlName="name"
          />

          @if (formUtils.isValidField('name', registerForm)) {
          <span class="form-text text-danger">
            {{ formUtils.getFieldError("name", registerForm) }}
          </span>
          }
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email del usuario"
            formControlName="email"
          />
          @if (formUtils.isValidField('email', registerForm)) {
          <span class="form-text text-danger">
            {{ formUtils.getFieldError("email", registerForm) }}
          </span>
          }
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre código del usuario"
            formControlName="username"
          />
          @if (formUtils.isValidField('username', registerForm)) {
          <span class="form-text text-danger">
            {{ formUtils.getFieldError("username", registerForm) }}
          </span>
          }
          <span class="form-text text-danger">
            El username no puede ser Strider
          </span>
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Password de su cuenta"
            formControlName="password"
          />
          @if (formUtils.isValidField('password', registerForm)) {
          <span class="form-text text-danger">
            {{ formUtils.getFieldError("password", registerForm) }}
          </span>
          }
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar la contraseña"
            formControlName="confirmPassword"
            (input)="comparePasswords()"
          />
          @if (formUtils.isValidField('confirmPassword', registerForm)) {
          <span class="form-text text-danger">
            {{ formUtils.getFieldError("confirmPassword", registerForm) }}
          </span>
          <br />
          } @if (formUtils.isValidField('confirmPassword', registerForm) ||
          !comparePasswords()) {
          <span class="form-text text-danger">
            Las contraseñas no coinciden
          </span>
          }
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid:</h2>
<pre>{{ registerForm.valid | json }}</pre>
<h2>Form Status:</h2>
<pre>{{ registerForm.status | json }}</pre>
<h2>Form Pending:</h2>
<pre>{{ registerForm.pending | json }}</pre>
<h2>Form errors</h2>
<pre>{{ registerForm.errors | json }}</pre>

<pre>{{ registerForm.value | json }}</pre>
<h5>Nombre</h5>
<pre>{{ registerFormValues["name"].value | json }}</pre>

<h5>Email</h5>
<pre>{{ registerFormValues["email"].value | json }}</pre>

<h5>Username</h5>
<pre>{{ registerFormValues["username"].value | json }}</pre>

<h5>Password</h5>
<pre>{{ registerFormValues["password"].value | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ registerFormValues["confirmPassword"].value | json }}</pre>
